:root {
    /* Light Mode Colors */
    --bg-body: #f8f9fa;
    --text-main: #1e293b;
    --text-muted: #64748b;

    /* Navbar Colors */
    --nav-bg: rgba(255, 255, 255, 0.85);
    --nav-border: rgba(0, 0, 0, 0.15);
    --nav-shadow: rgba(0, 0, 0, 0.1);
    --nav-active-bg: #eff6ff; /* Light Blue */
    --nav-active-text: #2563eb; /* Blue */

    /* Logo Gradient */
    --logo-gradient-start: #2563eb;
    --logo-gradient-end: #9333ea;

    --close: rgb(255, 8, 8);

    --code-bg: black;
    --code-color: white;

    /* Error messages */
    --error-bg: rgba(255, 168, 168, 0.34);
    --error-color: #ff0000;

    /* Login buttons */
    --bg-button: white;
    --bg-button-hover: rgb(245, 249, 252);
    --bg-button-border: #dadce0;

    --bg-submit: rgb(3, 173, 82);

    /* Loader styles */
    --loader-bdr-color: #ce54f4;
    --loader-bdr-after-color: #ff3d00;

}

[data-theme="dark"] {
    /* Dark Mode Overrides */
    --bg-body: #0f172a; /* Dark Slate */
    --text-main: #f1f5f9;
    --text-muted: #94a3b8;

    /* Navbar Colors (Dark Glass) */
    --nav-bg: rgba(15, 23, 42, 0.8);
    --nav-border: rgba(255, 255, 255, 0.1);
    --nav-shadow: rgba(0, 0, 0, 0.4);
    --nav-active-bg: rgba(59, 130, 246, 0.2); /* Transparent Blue */
    --nav-active-text: #60a5fa; /* Lighter Blue */

    --code-bg: rgb(255, 235, 196);
    --code-color: black;

    /* Error messages */
    --error-bg: rgba(140, 24, 24, 0.34);
    --error-color: #ff0000;

    /* Login buttons */
    --bg-button: black;
    --bg-button-hover: rgb(5, 61, 107);
    --bg-button-border: #17014f;

    --bg-submit: blue;

    /* Loader styles */
    --loader-bdr-color: #fff;
    --loader-bdr-after-color: #ff3d00;
}

#root {
    height: 100%;
}

/* --- GLOBAL SCROLLBAR STYLING --- */

/* Width */
::-webkit-scrollbar {
    width: 15px;
    height: 10px;
}

/* Track (Background) */
::-webkit-scrollbar-track {
    background: transparent; /* Keeps it clean */
}

/* Handle (The moving part) */
::-webkit-scrollbar-thumb {
    background-color: var(--nav-border); /* Subtle by default */
    border-radius: 999px; /* Pill shape */
    border: 2px solid transparent; /* Creates padding around the thumb */
    background-clip: content-box; /* Ensures the border creates space */
    transition: background-color 0.2s ease;
}

/* Handle on Hover */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-muted); /* Darker/Lighter on interaction */
}

/* Firefox Support (Standard Property) */
* {
    scrollbar-color: var(--nav-border) transparent;
}
